<div class="container create-profile-form">
  <div class="row">
  <div class="col s10">
  <h1><%=current_user.name%>'s Profile</h1>
  <%= form_for :profile, url: { action: "create" }, html: { multipart: true }  do |f| %>
    <div class="row">
      <div class="col s10">
        Why I Run: <%= f.text_field :why_i_run, placeholder:"In a few words, tell us what motivates you and keeps you running!" %>
      </div>
    </div>
    <div class="row">
      <div class="col s10">
        Goals: <%= f.text_field :goals, placeholder: "In a few words, tell us your running goals!"%>
      </div>
    </div>
    <div class="row">
      <div class="col s5">
        Experience Level:
      <%= f.select :experience, ['Beginner', 'Intermediate', 'Advanced', 'Competitive'] %>
      </div>
      <div class="col s5">
        <div class="file-field input-field">
          <div class="btn">
            <span>Browse</span>
              <input type="file">
          </div>
        <div class="file-path-wrapper">
          <input name="profile[avatar]" class="file-path validate" type="text" placeholder="Upload file">
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s10">
        Need To Knows: <%= f.text_field :need_to_knows, placeholder: "Is there anything important you'd want a potential running partner to know (i.e. injuries, allergies, etc.)" %>
      </div>
    </div>
    <div class="row create-profile-btn">
      <div class="col s5" id="create-profile-btn">
        <%= f.submit "Create Profile", :class => "waves-effect waves-light btn #00acc1 cyan darken-1" %>
      </div>
    </div>
  <% end %>
  </div>
  </div>
</div>
