<div id="sessions-new-form" class="container">
  <h1 class="center">Login</h1>
  <div class="row">
    <div class=" col s6 offset-s3">
      <% provide(:title, 'Login') %>
      <%= form_for :sessions, url: sessions_path do |f| %>
        <%= render partial: 'application/errors', layout: false, locals: { errors: @errors } %>
        Email: <%= f.text_field :email %>
        Password: <%= f.password_field :password %>
        <%= f.submit 'Login', :class => "waves-effect waves-light btn #00acc1 cyan darken-1" %>
      <% end %>
    </div>
  </div>
  <p class="center"> New user? <%= link_to "Sign up now!", new_user_path %></p>
</div>
