<div class="container upcoming-runs-table">
  <h3 class='center'> Upcoming Runs: </h3>
  <% if @upcoming_runs.any? %>
    <div class = 'container'>
      <table class='responsive-table highlight bordered'>
        <tr>
          <th>Run Date</th>
          <th>Location</th>
          <th>Desired Distance</th>
          <th>Companion</th>
        </tr>
        <% @upcoming_runs.each do |run| %>
        <tr>
          <td><%= run.run_date %></td>
          <td><%= run.zipcode %></td>
          <td><%=run.desired_distance %></td>
          <% if run.companion %>
            <% if run.runner_id == current_user.id %>
              <td ><%= link_to "#{run.companion.name}", user_profile_path(run.companion_id, run.companion.profile.id) %></td>
              <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>
            <% elsif run.companion_id == current_user.id %>
              <td><%= link_to "#{run.runner.name}", user_profile_path(run.runner_id, run.runner.profile.id)%></td>
            <% end %>
          <% else %>
            <td> Still Searching </td>
          <% end %>
        <% end %>
      </table>
    </div>
  <% else %>
    <p> You haven't planned any runs yet! Start a search or create a run to start planning! </p>
  <% end %>
</div>
