<div id="rundown_container" class="rundown container center">
  <h1>The Rundown</h1>

  <div class="rundown-container">

    <%= render 'map' %>
    <%= button_to "Accept", add_companion_path, method: 'PATCH' , class: "accept-run-btn", id: "<%= current_user.id %>", data: "<%= current_user.id %>" %>

    <%= render 'runs/run_search_button' %>
    <div class="run-form">
      <ul id="errors">
      </ul>
    </div>

    <div class='upcoming-runs-list'>

    </div>

    <%= render 'past_runs' %>

  </div>
</div>
