<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </head>

  <body>
   <nav>
    <div class="nav-wrapper fixed">
      <a href="root_path" class="brand-logo center">Run2gether</a>

      <% if logged_in?%>
        <% if current_user.profile %>
        <a><img src="<%= current_user.profile.avatar.url(:thumb) %>" class="circle profile-pic right"></a>
        <% else %>
          <a><img src="running_shoe.png" class="circle profile-pic right"></a>
        <% end %>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "The Rundown", user_path(current_user), class: "active" %></li>
          <% if current_user.profile %>
          <li><%= link_to "#{current_user.name}'s Profile" , user_profile_path(current_user, current_user.profile)%></li>
          <% end %>
          <li><a href="link.tbd">About R2G</a></li>
          <li><%= link_to "Logout", session_path(current_user), method: :delete %></li>
        </ul>
      <% else %>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "Register", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
          <li><a href="link.tbd">About R2G</a></li>
        </ul>
      <% end %>
    </div>
  </nav>


    <div class="notice"><%= flash[:success] %></div>
    <div class="alert"><%= flash[:danger] %></div>
    <%= yield %>
  </head>
</html>
